/* hello, HENNGE BASE PALETTE */
/* This file has all the colors and tokens that builds the theme of the blog */

:root {
  /* BACKGROUND */
  --bg: #f5f5f5;

  /* FOREGROUND */
  --heading: #3e3e3e;
  --text: #3e3e3e;
}

@media (prefers-color-scheme: dark) {
  :root {
    /* BACKGROUND */
    --bg: #1e1e1e;

    /* FOREGROUND */
    --heading: #e5e5e5;
    --text: #e5e5e5;
  }
}

/* TOKENS FOR TAILWIND CSS */
@theme inline {
  --color-background: var(--bg);
  --color-heading: var(--heading);
  --color-text: var(--text);
}

body {
  background-color: var(--bg);
  color: var(--text);
  font-family: 'Roboto', 'Open Sans', Arial, Helvetica, sans-serif;
  font-size: 1.25rem;
}

h2 {
  margin-bottom: 0.25rem;
  font-size: 1.5rem;
  font-weight: bold;
  color: var(--heading);
}

p {
  margin-bottom: 2rem;
  line-height: 2rem;
}
