/* hello, HENNGE BASE PALETTE */
/* This file has all the colors and tokens that builds the theme of the blog */

:root {
  /* BACKGROUND */
  --bg: #F5F5F5;

  /* FOREGROUND */
  --heading: #3E3E3E;
  --text: #3E3E3E;
}

@media (prefers-color-scheme: dark) {
  :root {
    /* BACKGROUND */
    --bg: #1E1E1E;

    /* FOREGROUND */
    --heading: #E5E5E5;
    --text: #E5E5E5;
  }
}

/* TOKENS FOR TAILWIND CSS */
@theme inline {
  --color-background: var(--bg);
  --color-heading: var(--heading);
  --color-text: var(--text);
}

body {
  background-color: var(--bg);
  color: var(--text);
  font-family: 'Roboto', 'Open Sans', Arial, Helvetica, sans-serif;
  font-size: 1.25rem;
}

p {
  margin-bottom: 2rem;
  line-height: 2rem;
}