@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

@import 'tailwindcss';
@import './base.css';

h2 {
  margin-bottom: 0.25rem;
  font-size: 1.5rem;
  font-weight: bold;
  color: var(--heading);
}

p {
  margin-bottom: 2rem;
  line-height: 2rem;
}
